.header {
  height: 10%;
}

//titulo que se aplica a contacto, servicios y cursos
.title {
  height: 6rem;
  background-color: $colorOrange;
  margin-top: 1rem;

  &__text {
    font-size: 1.2rem;
    color: $colorWhite;
  }
}

//seccion que se aplica a contacto, servicios y cursos
.sectionBase {
  min-height: 50%;
}

$footerContainers: Logo, Invitation, SocialNetwork;

.footer {
  margin-top: 3rem;
  height: 25%;
  background-color: $colorBlue;

  .footer__containerBase {
    display: flex;
    justify-content: center;
  }

  //se utiliza el containerBase para darle justificacion centrada a cada uno de los contenedores, y cada uno tiene sus características propias
  @each $part in $footerContainers {
    .footer__container#{$part} {
      @extend .footer__containerBase;

      @if $part == Logo {
        height: 30%;
        align-items: center;

        .footer__logo {
          height: 70%;
        }
      } @else if $part == Invitation {
        height: 40%;
        align-items: flex-end;

        .footer__text {
          color: #f6f5f5;
          font-size: 0.8rem;
          font-weight: 300;
        }
      } @else {
        height: 30%;
        align-items: flex-start;

        .footer__socialNetwork {
          height: 1rem;
          margin: 0rem 1rem;
        }
      }
    }
  }
}
