/* paleta de color
rojo #EB4D55
azul #1F3C88
naranja #FF9D76
gris #F6F5F5 */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* 1 rem == 10px */
  font-size: 1.2rem;
}

body {
  background-color: #f6f5f5;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

/* header */
.header {
  padding-top: 1rem;
  height: 10rem;
}

.prueba {
  background-color: red;
}

/* logo */
.brand {
  /* la parte del logo se muestra del lado izquierdo */
  grid-area: logoContainer;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.logoContainer {
  height: 60%;
  width: 70%;
  display: flex;
  justify-content: center;
}

.logoContainer__image {
  /* la imagen ocupa el 100% del alto de su padre */
  height: 100%;
}

.titleContainer {
  width: 70%;
  display: flex;
  justify-content: center;
}

.titleContainer__title {
  font-size: 1.5rem;
  color: #1f3c88;
}

/* menu */
.menu {
  padding-bottom: 0.9rem;

  /* la parte del menu se muestra del lado derecho */
  grid-area: menuContainer;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.menu__item:visited,
.menu__item:active,
.menu__item:link {
  text-decoration: none;
  color: #1f3c88;
}

.menu__item:hover {
  color: #ff9d76;
  font-weight: 700;
}

/* sección con el banner */
.sectionBanner {
  margin-top: 2rem;
  /* la imagen del banner ocupa todo el ancho */
  grid-column-start: 1;
  grid-column-end: 7;

  background-image: url("../img/bannerMain.jpeg");
  background-size: cover;
  background-position: center;

  /* se subdivide el banner para mostrar el texto alineado con el contenido del header */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100%;
}

.bannerTitles {
  /* se alinea el div en los 4 casilleros del medio, dejando los de los costados libres, 
  para que esté alineado con los elementos del header */
  grid-column-start: 2;
  grid-column-end: 6;

  padding-left: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bannerTitles__title {
  margin: 0.3rem;
  font-size: 1.8rem;
  color: black;
}

/* sección con el ADN de la empresa */
/* se alinea el div en los 4 casilleros del medio, dejando los de los costados libres, 
  para que esté alineado con los elementos del header */
.sectionAdn {
  grid-column-start: 2;
  grid-column-end: 6;

  display: flex;
  flex-direction: column;
}

.adnDiv1 {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adnDiv1__title {
  font-size: 1.5rem;
}

.adnDiv2 {
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Los siguientes section se aplican a las paginas que todavia no tienen definido el contenido */
.section1 {
  margin-top: 2rem;
  padding-top: 2rem;
  grid-column-start: 1;
  grid-column-end: 7;

  background-color: #1f3c88;

  display: flex;
  justify-content: center;
}

.section1 h2 {
  color: #f6f5f5;
}

.section2 {
  padding-top: 2rem;
  grid-column-start: 2;
  grid-column-end: 6;

  display: flex;
  justify-content: center;
}

/* fin de los section indefinidos */

/* Círculos con las características de la agencia */
.adnDiv2__item {
  height: 12rem;
  width: 12rem;
  border-radius: 6rem;
  background-color: #ff9d76;

  display: flex;
  justify-content: center;
  align-items: center;
}

.adnText {
  font-size: 1rem;
  color: black;
}

/* footer */
/* el footer se divide en 3 filas */
.footer {
  margin-top: 2rem;

  grid-column-start: 1;
  grid-column-end: 7;
  background-color: #1f3c88;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.footer__container {
  height: 30%;
  display: flex;
  justify-content: center;
}

.footer__container__logo {
  height: 80%;
}

.footer__container {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container--modifier {
  height: 40%;
  align-items: flex-end;
}

.footer__container__text {
  color: #f6f5f5;
  font-size: 0.8rem;
  font-weight: 300;
}

.footer__container__socialNetwork {
  height: 1rem;
  margin: 0rem 1rem;
}
