@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  /* 1 rem == 10px */
  font-size: 1.2rem; }

body {
  background-color: #f6f5f5;
  font-family: "Lato", sans-serif;
  font-weight: 500; }

.header {
  height: 10%; }

.footer {
  margin-top: 3rem;
  height: 30%;
  background-color: #1f3c88; }
  .footer__container, .footer__container--forText, .footer__container--forSocialNetfork {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer__container .footer__logo, .footer__container--forText .footer__logo, .footer__container--forSocialNetfork .footer__logo {
      height: 70%; }
  .footer__container--forText {
    height: 40%;
    align-items: flex-end; }
    .footer__container--forText .footer__text {
      color: #f6f5f5;
      font-size: 0.8rem;
      font-weight: 300; }
  .footer__container--forSocialNetfork {
    align-items: flex-start; }
    .footer__container--forSocialNetfork .footer__socialNetwork {
      height: 1rem;
      margin: 0rem 1rem; }

.brand {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%; }
  .brand__image {
    height: 50%;
    padding-bottom: 2%; }
  .brand__name {
    color: #1f3c88;
    font-size: 0.8rem; }

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }
  .menu__item {
    font-size: 0.9rem; }
  .menu__item:visited, .menu__item:active, .menu__item:link {
    text-decoration: none;
    color: #1f3c88; }
  .menu__item:hover {
    color: #ff9d76; }

/* sección con el banner */
.hero {
  background-image: url("../img/bannerMain.jpeg");
  background-size: cover;
  background-position: center;
  height: 75%;
  margin-top: 0.5rem; }
  .hero__box {
    height: 100%; }
    .hero__box__title {
      font-size: 1.32rem;
      color: black; }

.adn {
  margin-top: 2rem; }
  .adn .adn__titleContainer {
    display: flex;
    justify-content: center; }
    .adn .adn__titleContainer .adn__title {
      font-size: 1.5rem; }
  .adn .adn__itemContainer {
    display: flex;
    justify-content: center; }
    .adn .adn__itemContainer .adn__item {
      margin-top: 2rem;
      height: 12rem;
      width: 12rem;
      border-radius: 6rem;
      background-color: #ff9d76;
      display: flex;
      justify-content: center;
      align-items: center; }
      .adn .adn__itemContainer .adn__item .adn__text {
        font-size: 1rem;
        color: black; }
