@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  /* 1 rem == 10px */
  font-size: 1.2rem; }

body {
  background-color: #f6f5f5;
  font-family: "Lato", sans-serif;
  font-weight: 500; }

.header {
  height: 10%; }

.title {
  height: 6rem;
  background-color: #ff9d76;
  margin-top: 1rem; }
  .title__text {
    font-size: 1.2rem;
    color: #f6f5f5; }

.sectionBase {
  min-height: 50%; }

.footer {
  margin-top: 3rem;
  height: 25%;
  background-color: #1f3c88; }
  .footer .footer__containerBase, .footer .footer__containerLogo, .footer .footer__containerInvitation, .footer .footer__containerSocialNetwork {
    display: flex;
    justify-content: center; }
  .footer .footer__containerLogo {
    height: 30%;
    align-items: center; }
    .footer .footer__containerLogo .footer__logo {
      height: 70%; }
  .footer .footer__containerInvitation {
    height: 40%;
    align-items: flex-end; }
    .footer .footer__containerInvitation .footer__text {
      color: #f6f5f5;
      font-size: 0.8rem;
      font-weight: 300; }
  .footer .footer__containerSocialNetwork {
    height: 30%;
    align-items: flex-start; }
    .footer .footer__containerSocialNetwork .footer__socialNetwork {
      height: 1rem;
      margin: 0rem 1rem; }

.brand {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%; }
  .brand__image {
    height: 50%;
    padding-bottom: 2%; }
  .brand__name {
    color: #1f3c88;
    font-size: 0.8rem; }

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }
  .menu__item {
    font-size: 0.9rem; }
  .menu__item:visited, .menu__item:active, .menu__item:link {
    text-decoration: none;
    color: #1f3c88; }
  .menu__item:hover {
    color: #ff9d76; }

/* sección con el banner */
.hero {
  background-image: url("../img/bannerMain.jpeg");
  background-size: cover;
  background-position: center;
  height: 75%;
  margin-top: 0.5rem; }
  .hero__box {
    height: 100%; }
    .hero__box__title {
      font-size: 1.32rem;
      color: black; }

.adn {
  margin-top: 2rem; }
  .adn .adn__titleContainer {
    display: flex;
    justify-content: center; }
    .adn .adn__titleContainer .adn__title {
      font-size: 1.5rem; }
  .adn .adn__itemContainer {
    display: flex;
    justify-content: center; }
    .adn .adn__itemContainer .adn__item {
      margin-top: 2rem;
      height: 12rem;
      width: 12rem;
      border-radius: 6rem;
      background-color: #ff9d76;
      display: flex;
      justify-content: center;
      align-items: center; }
      .adn .adn__itemContainer .adn__item .adn__text {
        font-size: 1rem;
        color: black; }

.formRow {
  margin: 1.2rem 0rem; }
  .formRow__btnSend {
    background: #1f3c88;
    color: #f6f5f5;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    text-decoration: none;
    outline: none;
    border: 0;
    padding: 0.2rem 0rem; }
  .formRow__btnSend:hover, .formRow__btnSend:focus {
    color: #1f3c88;
    border: 3px;
    border-style: solid;
    border-color: #1f3c88;
    background: #f6f5f5;
    padding: 0.1rem 0rem; }
